@use '@app/styles/variables.module';

.task {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &[data-disabled='true'] {
        pointer-events: none;
    }

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .checkbox {
            cursor: pointer;
        }

        .checkbox:checked + .text {
            text-decoration: line-through;
            color: variables.$darkerAccentColor;
        }

        .text {
            transition: 120ms color ease-in-out;
        }
    }
}
