@use '@app/styles/variables.module';

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 16px;
  margin-bottom: 16px;

  border-bottom: 2px solid variables.$darkerAccentColor;

  font-weight: bold;

  &[data-state="isToday"] {
    border-color: variables.$bgColor;
  }

  &[data-active='true'] {
    border-color: variables.$accentColor;
  }
}