@use '@app/styles/variables.module';

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 0 16px 0;
    margin-bottom: 16px;

    border-bottom: 2px solid variables.$darkerAccentColor;
    border-radius: 16px;

    font-weight: bold;

    &[data-active='true'] {
        background-color: variables.$bgColor;
        color: variables.$accentColor;
        border-color: variables.$accentColor;
    }

    &[data-state='isToday'] {
        background-color: variables.$accentColor;
        color: variables.$bgColor;
        border-color: variables.$bgColor;
    }
}
