@import '../../../app/styles/variables.module.scss';

.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.addButton {
  padding: 10px 10px;

  border-radius: 8px;

  background-color: $bgColor;
  fill: $accentColor;

  &:hover {
    background-color: $accentColor;
    fill: $bgColor;
  }
}