@use '@app/styles/variables.module';

.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.addButton {
  padding: 10px 10px;

  border-radius: 8px;

  background-color: variables.$bgColor;
  fill: variables.$accentColor;

  &:hover {
    background-color: variables.$accentColor;
    fill: variables.$bgColor;
  }
}