.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  margin: 24px;
}

.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}