@import './app/styles/variables.module.scss';

body {
  font-size: 24px;
  background-color: $bgColor;
  color: $accentColor;

  font-family: 'TildaSans', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  color: $accentColor;

  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}