@import '../../../../app/styles/variables.module.scss';

$highDisplayResFactor: 4; // 2560
//$highDisplayResFactor: 3; // 1920
//$highDisplayResFactor: 2; // 1440
//$highDisplayResFactor: 1.5; // 1024
//$highDisplayResFactor: 1; // 768
//$highDisplayResFactor: 0.5; // 425

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselWindow {
  display: flex;
  align-items: center;

  width: calc(550px * $highDisplayResFactor);
  height: 710px;

  overflow: hidden;
}

.carouselData {
  width: max-content;

  display: flex;
  align-items: center;
  gap: 24px;

  margin: 0;
  padding: 0;

  .carouselItem {
    flex: 0 0 550px;

    border-radius: 16px;

    background-color: $bgColor;
    color: $accentColor;

    &[data-state='isToday'] {
      background-color: $accentColor;
      color: $bgColor;
    }
  }
}

.carouselButton {
  width: 150px;
  height: 702px;

  border-radius: 16px;

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:hover {
    background-color: $accentColor;
    color: $bgColor;
  }
}